body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#ebe7e2;
    margin: auto;
}

nav{
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf2ea;
    color: orange;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	display:flex;
	flex-wrap: wrap;
	align-content: center;
    justify-content: space-evenly;
	margin: auto;
    max-width: 100%;
	padding: 20px;
}

.card{
    width:600px;
    margin: 10px;
    background-color:rgb(255, 232, 167);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.cardHead{
    display: flex;
    align-content: stretch;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #fbf2ea
}

.cardBody{
    padding: 0px 30px 10px 30px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch:extra-expanded;
}

h3{
    font-style: italic;
}